
{% extends "base.html" %}
{% load bootstrap4 %}

{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Login</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
      <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">       
                    <div class="apply_job_form white-bg">
                        {% if validlink %}
                        <p>Please enter (and confirm) your new password.</p>
                        <form action="" method="post">
                        {% csrf_token %}
                            
                        {{ form }}
                        </form>
                    {% else %}
                        <h1>Password reset failed</h1>
                        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}